{% extends "header.html" %}
{% block content %}
    <h2 id = "home-title">About Us</h2>
    <p id="introduction">AI Grader is a project created in the 2024 SEO Tech Developer program, AI Grader helps gives individuals, students and other people a new way to learn english vocabulary. Through answering the questions, you learn to correlating definitions and recieve real time feedback! <br><br> This project was created by Adam Abdi, Brice Renard, Matthew Espinoza and Nayera Hasan.</p>
{% endblock content %}